[submodule "src/luabind"]
	path = src/luabind
	url = https://github.com/Oberon00/luabind
	branch = master

[submodule "src/utils"]
       path = src/utils
       url = https://github.com/vr-ski/vt-utils-fix
       branch = master

